<% include partials/header %>

    <div class="ui one cards">
        <div class="olive card">
            <div class="ui sizer vertical segment">
              <div class="ui large header centered"><%= message.title %></div>
            </div>

            <div class="content">
              <p><%= message.message %></p>
              <p><em><%= message.date.toDateString() %></em></p>

              <div class="ui buttons">
                <a href="/board/<%= message._id %>/edit">
                  <button class="ui button basic"><i class="icon edit"></i>Edit</button>
                </a>

                <form action="/board/<%= message._id %>?_method=DELETE" method="POST">
                  <button class="ui button basic"><i class="icon red delete"></i>Delete</button>
                </form>
              </div>
            </div>
          </div>

    </div>

<% include partials/footer %>
